{% extends "home.html" %}
{% block content %}
<form action="{{ url_for('secretpage') }}" method="POST">
    <center>
    <table class = "styled-table">
    <thead>
    <tr>
    <th colspan="2">If your account has a secret, enter it below and submit to continue. Otherwise leave field blank and click submit.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td><label for="secret">Enter account secret:</label></td>
    <td><input name="secret" type="password"></td></tr>
    <tr>
    <td colspan="2"><center><button type="submit" class="btn btn-primary">Submit</button></center></td></tr>
    </tbody>
    </table>
    </center>
{% if feedback %}
<p>{{ feedback }}</p>
{% endif %}
</form>
{% endblock %}